@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

/* Prevent links from flashing white/active state on click */
#sidebar a:active {
    color: inherit !important;
    background-color: transparent !important;
    opacity: 1 !important;
}

#sidebar a:active svg {
    stroke: inherit !important;
}

/* When hovering an option, tint the radio button border */
label.group:hover input[type="radio"] {
    border-color: #00C2FF !important;
}

/* Optional: slightly glow the radio on hover */
label.group:hover input[type="radio"] {
    box-shadow: 0 0 4px #00C2FF55;
}

